################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InterviewCake/v16
/Debug
/MergeMeetings/Debug
/stringReverseInPlace/Debug
/ReverseWords/Debug
/MergeSortedArrays/Debug
/onDemandMovieStreaming/Debug
/PermutationPalindrome/Debug
/wordCloud/Debug
